#slider {
	width: 100%;
	margin: 0 auto;
	padding: 56.25% 0 0;
  position: relative;
  .sld-label {
    position: absolute;
    top: 50%;
    // right: 100px;
    color: $colorWhite;
    font-size: 15px;
    font-family: $font-proxima;
    letter-spacing: 0.05em;
    line-height: 1;
    z-index: 400;
    opacity: 0;
    transition: 1s;
    width: 100%;
    span {
      position: absolute;
      right: 230px;
      // right: 18%;
      transform: translate(0, -50%);
      &:nth-child(1) {
        text-align: right;
        margin-right: 27px;
        &::after {
          content: "|";
          position: absolute;
          top: 0;
          right: -15px;
          // width: 1px;
          // height: 10px;
          // background: $colorWhite;
        }
      }
      &:nth-child(2) {
        transform: translate(100%, -50%);
        text-align: left;
        // padding-left: 13px;
      }
    }
  }
  // .is-shown .sld-label {
  // .is-current .sld-label {
  //   -webkit-animation-name: showKvImage_label;
  //   animation-name: showKvImage_label;
  //   -webkit-animation-duration: 6s;
  //   animation-duration: 6s;
  //   -webkit-animation-timing-function: linear;
  //   animation-timing-function: linear;
  //   -webkit-animation-iteration-count: 1;
  //   animation-iteration-count: 1;
  //   -webkit-animation-fill-mode: both;
  //   animation-fill-mode: both
  // }
  .sld-label {
    opacity: 0;
    transition: 0.8s;
  }
  .is-current .sld-label {
    opacity: 1;
  }
}
.sld_fade {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
  display: none;
}

.p-index-kv-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2
}
.p-index-kv-img__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.p-index-kv-img__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.p-index-kv-img__item .sld-img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.p-index-kv-img__item.is-current .sld-img-wrap {
  -webkit-animation-name: showKvImageWrap;
  animation-name: showKvImageWrap;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
// .p-index-kv-img__item img,
.p-index-kv-img__item .sld-img {
  // opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  // z-index: 100;
  // transform: matrix(1, 0, 0, 1, 0, 0);
  transform: scale(1);
  // transition: transform 1s;
}
// .p-index-kv-img__item img,
.p-index-kv-img__item .sld-img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.p-index-kv-img__item.is-current {
  z-index: 200;
}
// .p-index-kv-img__item.is-current img,
.p-index-kv-img__item.is-current .sld-img {
  -webkit-animation-name: showKvImage2;
  animation-name: showKvImage2;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  // opacity: 0.5;

  // -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.p-index-kv-img__item.is-next {
  // z-index: 99;
}
.p-index-kv-img__item.is-next .sld-img {
  // z-index: 99;
  width: 0%;
  // -webkit-transform: scale(1.1);
  // transform: scale(1.1);
}

@keyframes showKvImage {
  0% {
    z-index: 200;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  90% {
    width: 100%;
  }
  94% {
    opacity: 1;
  }
  96% {
    width: 0%;
  }
  100% {
    z-index: 100;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 0%;
    opacity: 0;
  }
}

@keyframes showKvImage2 {
  0% {
    // z-index: 200;
    transform: scale(1.1);
    // width: 0%;
  }
  // 8% {
    // transform: scale(1.1);
    // width: 100%;
  // }
  100% {
    // z-index: 100;
    transform: scale(1);
    // width: 100%;
  }
}

@keyframes showKvImageWrap {
  0% {
    // width: 0%;
    clip-path: inset(0 100% 0 0);
  }
  6% {
    // width: 100%;
    clip-path: inset(0 0% 0 0);
  }
  100% {
    clip-path: inset(0 0% 0 0);
    
    // width: 100%;
  }
}
@keyframes showKvImage_label {
  0% {
    z-index: 400;
    opacity: 0;
  }
  4% {
    opacity: 1
  }
  94% {
    opacity: 1
  }
  100% {
    z-index: 300;
    opacity: 0;
  }
}

.p-index-kv-pager {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 500;
  width: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 3%;
  bottom: 0;
}
.p-index-kv-pager__item {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 45px;
  opacity: 0;
}
.p-index-kv-pager__item.is-current {
  cursor: default;
  pointer-events: none;
}
.p-index-kv-pager__item-label,
.p-index-kv-pager__item-circle {
  width: 50%;
  height: 100%
}
.p-index-kv-pager__item-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-family: $font-proxima;
  text-align: center;
  line-height: 1;
  letter-spacing: 0;
  padding-top: 2px;
}
.p-index-kv-pager__item-circle {
  position: relative
}
.p-index-kv-pager__item-circle:before,
.p-index-kv-pager__item-circle:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%
}
.p-index-kv-pager__item-circle:before {
  width: 4px;
  height: 4px;
  z-index: 10;
  margin-top: -2px;
  margin-left: -2px;
  background-color: #dadada;
}
.is-shown .p-index-kv-pager__item {
  opacity: 1;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: opacity;
  transition-property: opacity
}
// .is-shown .p-index-kv-pager__item:nth-of-type(1) {
//   -webkit-transition-delay: 1.6s;
//   transition-delay: 1.6s
// }
// .is-shown .p-index-kv-pager__item:nth-of-type(2) {
//   -webkit-transition-delay: 1.65s;
//   transition-delay: 1.65s
// }
// .is-shown .p-index-kv-pager__item:nth-of-type(3) {
//   -webkit-transition-delay: 1.7s;
//   transition-delay: 1.7s
// }
// .is-shown .p-index-kv-pager__item:nth-of-type(4) {
//   -webkit-transition-delay: 1.75s;
//   transition-delay: 1.75s
// }
// .is-shown .p-index-kv-pager__item:nth-of-type(5) {
//   -webkit-transition-delay: 1.8s;
//   transition-delay: 1.8s
// }
// .is-shown .p-index-kv-pager__item:nth-of-type(6) {
//   -webkit-transition-delay: 1.85s;
//   transition-delay: 1.85s
// }
.p-index-kv-pager__item-label {
  opacity: 0;
  transition: 0.8s;
  // -webkit-transition-duration: .8s;
  // transition-duration: .8s;
  // -webkit-transition-property: opacity;
  // transition-property: opacity
}
.is-current .p-index-kv-pager__item-label {
  opacity: 1
}
.p-index-kv-pager__item-circle:before {
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: background-color;
  transition-property: background-color
}
.is-current .p-index-kv-pager__item-circle:before {
  background-color: #fff;
  -webkit-transition-delay: 0s;
  transition-delay: 0s
}
.p-index-kv-pager__item-circle:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: opacity,transform;
  transition-property: opacity,transform,-webkit-transform;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: linear-gradient(220deg, $gradation-from, $gradation-to);
}
.is-current .p-index-kv-pager__item-circle:after {
  opacity: 0.6;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(.3,1.81,.57,.83);
  transition-timing-function: cubic-bezier(.3,1.81,.57,.83)
}
