#slider {
	width: 100%;
	margin: 0 auto;
	padding: 56.25% 0 0;
  position: relative;
}

.p-index-kv-img__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .sld-img-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .sld-img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      transform: scale(1);
    }
  }
  .sld-label {
    position: absolute;
    top: 50%;
    color: $colorWhite;
    font-size: 15px;
    font-family: $font-proxima;
    letter-spacing: 0.05em;
    line-height: 1;
    z-index: 400;
    width: 100%;
    opacity: 0;
    transition: 0.8s;
    span {
      position: absolute;
      right: 230px;
      transform: translate(0, -50%);
      &:nth-child(1) {
        text-align: right;
        margin-right: 27px;
        &::after {
          content: "|";
          position: absolute;
          top: 0;
          right: -15px;
        }
      }
      &:nth-child(2) {
        transform: translate(100%, -50%);
        text-align: left;
      }
    }
  }
}
.p-index-kv-img__item.is-current,
.p-index-kv-img__item.is-select {
  .sld-img-wrap:not(.initloading) {
    -webkit-animation-name: showKvImageWrap;
    animation-name: showKvImageWrap;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0,1,.5,1);
    animation-timing-function: cubic-bezier(0,1,.5,1);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    // will-change: clip-path;
  }
  .sld-img {
    -webkit-animation-name: showKvImage;
    animation-name: showKvImage;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    // will-change: transform;
  }
  .sld-label {
    -webkit-animation-name: showKvImage_label;
    animation-name: showKvImage_label;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    // will-change: opacity;
  }
}
.p-index-kv-img__item.is-current {
  z-index: 200;
}
.p-index-kv-img__item.is-select {
  z-index: 250;
}
.p-index-kv-img__item.is-next {
  .sld-img {
    width: 0%;
  }
}

@keyframes showKvImage {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes showKvImageWrap {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0% 0 0);
    clip-path: inset(0 0% 0 0);
  }
}
@keyframes showKvImage_label {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.p-index-kv-pager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3%;
  width: 75px;
  z-index: 500;
  .p-index-kv-pager__item {
    cursor: pointer;
    display: flex;
    height: 45px;
    opacity: 1;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    .p-index-kv-pager__item-label,
    .p-index-kv-pager__item-circle {
      width: 50%;
      height: 100%;
    }
    .p-index-kv-pager__item-label {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 15px;
      font-family: $font-proxima;
      text-align: center;
      line-height: 1;
      letter-spacing: 0;
      padding-top: 2px;
      opacity: 0;
      transition: 0.8s;
    }
    .p-index-kv-pager__item-circle {
      position: relative;
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%
      }
      &::before {
        width: 4px;
        height: 4px;
        z-index: 10;
        margin-top: -2px;
        margin-left: -2px;
        background-color: #dadada;
        -webkit-transition-duration: .8s;
        transition-duration: .8s;
        -webkit-transition-property: background-color;
        transition-property: background-color;
      }
      &::after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-duration: .8s;
        transition-duration: .8s;
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,-webkit-transform;
        transition-property: opacity,transform;
        transition-property: opacity,transform,-webkit-transform;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        background: linear-gradient(220deg, $gradation-from, $gradation-to);
      }
    }
  }
  .p-index-kv-pager__item.is-current {
    pointer-events: none;
    .p-index-kv-pager__item-label {
      opacity: 1;
    }
    .p-index-kv-pager__item-circle {
      &::before {
        background-color: #fff;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
      &::after {
        opacity: 0.6;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-timing-function: cubic-bezier(.3,1.81,.57,.83);
        transition-timing-function: cubic-bezier(.3,1.81,.57,.83);
        // will-change: transform;
      }
    }
  }
  .p-index-kv-pager__item.is-current,
  .p-index-kv-pager__item.now-sliding {
    cursor: default;
    pointer-events: none;
  }
}