@import "bootstrap-reboot.scss";


/* 変数 */
$marginL : 0 1vw;
$marginM : 0 90px;
$marginS : 0 40px;
$colorBlack: #000;
$colorWhite: #fff;
$flex: flex;
$flexColumn: column;
$font-abril: abril-text, serif !important;
$font-proxima: proxima-nova-condensed, sans-serif !important;
$font-sanserif: 'Noto Sans JP', serif !important;
$font-serif: 'Noto Serif JP', serif !important;
$gradation-from: #fb5fb7;
$gradation-to: #00a1d7;



// 1rem = 16px


// font-size


// layout
body {
  font-family: $font-sanserif;
  font-weight: 400;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: $colorBlack;
  letter-spacing: 0.1em;
}

html, body {
  overflow-x: hidden;
}

.flex-box {
  display: flex;
  &.flex-column {
    flex-direction: column;
  }
}


// parts
a {
  color: $colorBlack;
  text-decoration: none;
  transition: .3s;
  &:hover {
    text-decoration: none;
    color: $colorBlack;
  }
}

p {
  line-height: 2.2;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}


.link-box {
  border: 1px solid $colorBlack;
  display: block;
  width: 200px;
  text-align: center;
  padding: 13.5px 0;
  transition: .3s;
  font-family: $font-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  &:hover {
    color: $colorWhite;
    &::before {
      transform: rotate(-8deg) translate(-50%, -50%) scaleX(1)
    }
  }
  &::before {
    content: '';
    width: 105%;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: $colorBlack;
    z-index: -1;
    transition: all 0.6s cubic-bezier(0.24, 1, 0.32, 1);
    transform: rotate(-8deg) translate(-50%, -50%) scaleX(0);
    transform-origin: 0 0;
  }
}

// display
.res-pc {
  display: block;
}
.res-sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .res-pc {
      display: none;
    }
  .res-sp {
      display: block;
    }
}

// fade animation / header
.effect-fade {
  opacity: 0;
  transform: translate(0, 5px);
  transition: all 2s;
}

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}

// fade animation / contents
.cont-fade {
  opacity: 0;
  transition: all .5s ease;
  &.show {
    opacity: 1;
    transform: none;
  }
}

.cont-fade {
  &.slide-up {
    transform: translate(0, 100px);
  }
}

#pagetop {
  position: absolute;
  right: 0;
  top: -66px;
  padding-left: 12px;
  font-family: $font-proxima;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: $colorBlack;
  transform: rotate(90deg);
  .pagetop-arrow {
    width: 52px;
    height: 1px;
    background-color: $colorBlack;
    position: absolute;
    top: 50%;
    right: 100%;
    transition: .3s;
    &::after {
      content: '';
      background-color: $colorBlack;
      position: absolute;
      left: 0;
      top: -3px;
      width: 7px;
      height: 1px;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    .pagetop-arrow {
      width: 60px;
    }
  }
}



/* header */
header {
  height: 160px;
  width: 1440px; // 1440 + 90 + 90
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: $colorWhite;
  transition: 0.5s ease-out;
  &::before {
    content: "";
    background: $colorWhite;
    width: 100%;
    height: 160px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    transition: 0.5s ease-out;
  }
  &.flex-box {
    justify-content: space-between;
    align-items: center;
  }
  &.scrolled {
    height: 100px;
    &::before {
      height: 100px;
    }
  }
  .logo {
    h1 {
      margin: 0;
      img {
        width: 163px;
      }
    }
  }
  nav {
    ul {
      margin: 0;
      li {
        &:not(:last-child) {
          margin-right: 37px;
        }
        a {
          font-family: $font-proxima;
          font-weight: 600;
          font-size: 15px;
          letter-spacing: 0.1em;
          color: $colorBlack;
          background-image: linear-gradient(to right, rgba(251, 95, 183, 0.8), rgba(0, 161, 215, 0.8));
          -webkit-background-clip: text;
          transition: 0.5s;
          &:hover {
            color: transparent;
            background-image: linear-gradient(to right, $gradation-from, $gradation-to);
          }
        }
      }
    }
  }
}


// common parts (scrolled)
#header-common {
  // margin-top: 160px;
  width: 1040px;
  padding: 0 40px;
  margin: 190px auto 17px;
  h1 {
    position: relative;
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 63px;
    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, $gradation-from, $gradation-to);
    }
  }
  .flex-box {
    justify-content: space-between;
    font-size: 11px;
    letter-spacing: 0.1em;
    .breadcrumbs {
      margin-bottom: 0;
      li {
        position: relative;
        display: inline-block;
        margin-right: 15px;
        &::after {
          content: ">";
          position: absolute;
          right: -14px;
          top: 0;
          color: #979b9e;
        }
        &:last-child::after {
          content: "";
        }
        a {
          color: #979b9e;
        }
      }
    }
    .sublink {
      margin-bottom: 0;
      li {
        position: relative;
        display: inline-block;
        margin-left: 40px;
        line-height: 1;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -17px;
          width: 12px;
          height: 12px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &:nth-child(1) {
          &::before {
            background-image: url("/img/yen.png");
          }
        }
        &:nth-child(2) {
          &::before {
            background-image: url("/img/pen.png");
          }
        }
      }
    }
  }
}

.anker-link {
  width: 100%;
  height: 250px;
  padding: 0 40px;
  margin-bottom: 50px;
  background: url("/img/bg-anker.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    width: 960px;
    // height: 50px;
    margin: 0;
    background: $colorWhite;
    display: flex;
    justify-content: space-around;
    li {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        top: 18px;
        right: 28px;
        width: 8px;
        height: 8px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(135deg);
      }
      a {
        width: 100%;
        line-height: 50px;
      }
    }
  }
}

#p-top #main-visual {
  overflow: hidden;
  position: relative;
  margin: 160px auto 0;
  width: 1440px; // 1440 + 90 + 90
  padding: 0;
  transition: .3s;
  img {
    display: block;
    margin: auto;
    width: 100%;
  }
  // scroll
  .arrowWrap {
    width: 100px; // 偶数の幅を指定しないと微妙に滲むため
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    .arrow {
      width: 1px;
      height: 70px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      &::before {
        content: '';
        width: 1px;
        height: 70px;
        background-color: $colorBlack;
        position: absolute;
        top: 0;
        left: 0;
        animation: scroll_effect 2s 2s cubic-bezier(.3,.4,.1,1) infinite;
      }
    }
    p {
      font-family: $font-proxima;
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.1em;
      text-align: center;
      margin-top: 12px;
      margin-bottom: 3px;
    }
  }
}
@media (max-height: 890px) {
  #p-top #main-visual {
    // margin-top: 14vh;
  }
}


#slider {
	width: 100%;
	margin: 0 auto;
	padding: 56.25% 0 0;
  position: relative;
}
.sld_fade {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
  display: none;
}

.p-index-kv-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2
}
.p-index-kv-img__wrap {
  width: 100%;
  height: 100%;
  position: relative
}
.p-index-kv-img__item {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center bottom
}
.p-index-kv-img__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.p-index-kv-img__item.is-shown {
  -webkit-animation-name: showKvImage;
  animation-name: showKvImage;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@keyframes showKvImage {
  0% {
    z-index: 99;
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  10% {
    opacity: 1
  }
  100% {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.p-index-kv-pager {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 200;
}

.p-index-kv-pager {
  width: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 5%;
  bottom: 90px;
}
.p-index-kv-pager__item {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}
.p-index-kv-pager__item-label,.p-index-kv-pager__item-circle {
  width: 50%;
  height: 100%
}
.p-index-kv-pager__item-label {
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-family: $font-proxima;
  text-align: center;
}
.p-index-kv-pager__item-circle {
  position: relative
}
.p-index-kv-pager__item-circle:before,.p-index-kv-pager__item-circle:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%
}
.p-index-kv-pager__item-circle:before {
  width: 4px;
  height: 4px;
  z-index: 10;
  margin-top: -2px;
  margin-left: -2px;
  background-color: #999
}
.p-index-kv-pager__item-circle:after {
  // background-color: rgba(0,220,84,.4);
  background: linear-gradient(220deg, $gradation-from, $gradation-to);
}
.p-index-kv-pager__item {
  opacity: 0
}
.p-index-kv-pager__item {
  height: 35px;
}
.is-shown .p-index-kv-pager__item {
  opacity: 1;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: opacity;
  transition-property: opacity
}
.is-shown .p-index-kv-pager__item:nth-of-type(1) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s
}
.is-shown .p-index-kv-pager__item:nth-of-type(2) {
  -webkit-transition-delay: 1.65s;
  transition-delay: 1.65s
}
.is-shown .p-index-kv-pager__item:nth-of-type(3) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s
}
.is-shown .p-index-kv-pager__item:nth-of-type(4) {
  -webkit-transition-delay: 1.75s;
  transition-delay: 1.75s
}
.is-shown .p-index-kv-pager__item:nth-of-type(5) {
  -webkit-transition-delay: 1.8s;
  transition-delay: 1.8s
}
.is-shown .p-index-kv-pager__item:nth-of-type(6) {
  -webkit-transition-delay: 1.85s;
  transition-delay: 1.85s
}
.p-index-kv-pager__item-label {
  opacity: 0;
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: opacity;
  transition-property: opacity
}
.is-current .p-index-kv-pager__item-label {
  opacity: 1
}
.p-index-kv-pager__item-circle:before {
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: background-color;
  transition-property: background-color
}
.is-current .p-index-kv-pager__item-circle:before {
  background-color: #fff;
  -webkit-transition-delay: 0s;
  transition-delay: 0s
}
.p-index-kv-pager__item-circle:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: opacity,transform;
  transition-property: opacity,transform,-webkit-transform
}
.p-index-kv-pager__item-circle:after {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.is-current .p-index-kv-pager__item-circle:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(.3,1.81,.57,.83);
  transition-timing-function: cubic-bezier(.3,1.81,.57,.83)
}




@keyframes scroll_effect {
  0% {
    height: 0
  }
  50% {
    height: 70px
  }
  75% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(100%)
  }
}


// ---- title head
.title-head {
  position: relative;
  margin-bottom: 40px;
  span {
    font-family: $font-proxima;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin: 0 0 34px 106px;
    display: block;
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 80px;
      height: 2px;
      background-image: linear-gradient(to right, $gradation-from, $gradation-to);
    }
  }
  h2 {
    font-family: $font-abril;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0;
  }
}
.common {
  .title-head {
    margin-bottom: 95px;
  }
}

// ---- cont-box
.cont-box {
  margin-bottom: 50px; //仮
}


// section
section {
  width: 1040px;
  padding: 53px 40px;
  margin: 0 auto;
}
#p-top section {
  width: 1280px;
  padding: 70px 40px;
  margin: 0 auto;
}
.sec-inner {
  max-width: 960px;
  margin: 0 auto;
}


// concept
#p-top #concept {
  background: $colorWhite;
  position: relative;
  margin-top: 62px;
  padding-top: 90px;
  padding-bottom: 115px;
  .sec-content {
    justify-content: space-between;
    .sec-content-item {
      display: $flex;
      flex-direction: $flexColumn;
      justify-content: space-between;
      &:nth-child(1) {
        margin-right: 40px;
        .link-box {
          margin-bottom: 7px; // 右カラムの底辺と合わせるため
        }
      }
      &:nth-child(2) {
        width: 600px;
        position: relative;
      }
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .bg-concept {
    position: absolute;
    top: -17px;
    right: -80px;
    width: 51%;
  }
}

.concept-bg {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: -10;
  &::before {
    content: '';
    position: absolute;
    top: -310px;
    left: 1px;
    width: 89vw; // max-width:1640 でギリギリ見切れる値
    height: 450px;
    background-image: url('/img/bg-concept.jpg');
    background-size: cover;
  }
}


// service
#p-top #service {
  position: relative;
  margin-top: 215px;
  margin-bottom: 75px;
  padding-bottom: 60px;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 89vw; // max-width:1640 でギリギリ見切れる値
    height: 450px;
  }
  &::before {
    z-index: -1;
    background-image: url('/img/bg-service.jpg');
    background-size: cover;
  }
  .sec-content-upper {
    justify-content: space-between;
    margin: 56px 0 52px;
    .sec-content-item {
      background-color: $colorWhite;
      background-image: url('/img/bg-service-box.jpg');
      background-size: cover;
      color: $colorWhite;
      position: relative;
      min-height: 340px;
      padding: 170px 25px 0;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
        h3 {
          letter-spacing: -0.05em;
        }
      }
      img {
        width: 80%;
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
      }
      h3 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 16px;
        letter-spacing: 0;
      }
      p {
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 0;
      }
      a {
        color: $colorWhite;
        font-family: $font-serif;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.1em;
        position: absolute;
        right: 20px;
        bottom: 16px;
        display: block;
        margin-right: 27px;
        padding-right: 11px;
        .link-arrow {
          width: 21px;
          height: 1px;
          background-color: $colorWhite;
          position: absolute;
          top: 50%;
          left: 100%;
          transition: .3s;
          &::after {
            content: '';
            background-color: $colorWhite;
            position: absolute;
            right: 0;
            top: -3px;
            width: 7px;
            height: 1px;
            transform: rotate(45deg);
          }
        }
        &:hover {
          .link-arrow {
            width: 35px;
          }
        }
      }
    }
  }
  .sec-content-lower {
    p {
      margin-bottom: 41px;
    }
    .link-box {
      margin: 0 auto;
    }
  }
}

// works
#p-top #works {
  margin-bottom: 55px;
  p {
    line-height: 1rem;
    margin-bottom: 0;
  }
  .flex-box {
    justify-content: space-between;
    align-items: start;
  }
  .loop-box {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin: 72px 0 52px;
    ul {
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      li {
        width: calc(100vw / 3.2);
        &:nth-child(1) {
          margin-top: 25px;
        }
        &:nth-child(2) {
          margin-top: 0;
        }
        &:nth-child(3) {
          margin-top: 20px;
        }
        &:nth-child(4) {
          margin-top: 40px;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  .loop-box ul:first-child {
    animation: loop 120s -60s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
  }
  .loop-box ul + ul {
    animation: loop2 120s linear infinite;
  }

  @keyframes loop {
    0% {
      transform: translateX(70%);
    }
    to {
      transform: translateX(-130%);
    }
  }
  @keyframes loop2 {
    0% {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(-230%);
    }
  }
}

// news
#p-top #news {
  position: relative;
  padding-bottom: 52px;
  margin-bottom: 150px;
  background-image: url('/img/bg-news.jpg');
  background-size: cover;
  background-color: $colorWhite;
  ul {
    li {
      font-size: 14px;
      padding: 10px 0 11px;
      position: relative;
      a {
        letter-spacing: 0.1em;
        &:hover {
          color: $colorBlack;
        }
      }
      &::after {
        content: "";
        height: 1px;
        background-image: linear-gradient(to right, $colorBlack, $colorBlack 2px, transparent 2px, transparent 4px);
        background-size: 4px 1px;
        background-repeat: repeat-x;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  .news-date {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2em;
    width: 165px;
    flex-shrink: 0;
  }
}

// contact
#contact,
#p-top #contact {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: $colorBlack;
  background-image: url('/img/bg-contact.jpg');
  background-size: cover;
  color: $colorWhite;
  text-align: center;
  h2 {
    font-family: $font-abril;
    font-weight: 400;
    font-size: 35px;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 32px
  }
  p {
    margin-bottom: 48px;
  }
  .link-box {
    color: $colorWhite;
    border-color: $colorWhite;
    margin: 0 auto;
    &:hover {
      color: $colorBlack;
    }
    &::before {
      background-color: $colorWhite;
    }
  }
}


// footer
footer {
  margin: $marginS;
  padding-top: 73px;
  .footer-logo {
    width: 143px;
  }
  h3 {
    font-family: $font-proxima;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1;
    margin-bottom: 13px;
  }
  .sec-content {
    justify-content: space-between;
    margin-bottom: 62px;
  }
  .sec-content-item {
    width: 48.5%;
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cont-box {
        margin-bottom: 7px;
      }
    }
    &:nth-child(2) {
      justify-content: space-between;
    }
    .content-link {
      h3 {
        a {
          &:hover {
            color: $colorBlack;
          }
        }
      }
      ul {
        margin-left: -5px;
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 7px;
        }
        li {
          list-style: none;
          font-size: 12px;
          letter-spacing: 0;
          margin-bottom: 7px;
          &::before {
            content: "・";
            color: #8f8f8f;
          }
          a {
            color: #8f8f8f;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .link-box {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 150px;
      padding: 7.5px 0;
      margin-right: 15px;
    }
  }
  address {
    font-size: 12px;
    margin-bottom: 18px;
    letter-spacing: 0.05em;
  }
  small {
    display: block;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
  }
}


#p-about {
  #profile {
    .profile-img {
      width: 370px;
      margin-bottom: 18px;
    }
    .profile-name {
      font-size: 15px;
      line-height: 1.7;
      margin-bottom: 44px;
      .en {
        font-size: 16px;
        font-family: $font-proxima;
      }
      span:first-child {
        margin-left: 27px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 3px;
          left: -14px;
          width: 1px;
          height: 13px;
          background: $colorBlack;
        }
      }
    }
    h3 {
      font-size: 16px;
      font-family: $font-proxima;
      letter-spacing: 0.05em;
      margin-top: 48px;
      margin-bottom: 5px;
    }
    ul {
      li {
        font-size: 13px;
        letter-spacing: 0;
        margin-bottom: 7px;
        &::before {
          content: "-";
          padding-right: 3px;
        }
      }
    }
    dl {
      display: flex;
      flex-wrap: wrap;
      margin: 50px 0 40px;
      dt, dd {
        letter-spacing: 0.1em;
        line-height: 1.8;
        margin: 0;
        padding: 27px 0;
        border-bottom: 1px solid #ccc;
      }
      dt {
        font-weight: normal;
        width: 22%;
      }
      dd {
        width: 78%;
      }
    }
  }
  #access {
    padding-bottom: 120px;
    .gmap_wrap {
      margin-bottom: 30px;
      #gmap {
        width: 100%;
        height: 400px;
      }
    }
    .btn_gmap {
      font-size: 12px;
      letter-spacing: 0;
      text-align: center;
      color: $colorBlack;
      background: #f1f2f3;
      display: block;
      width: 150px;
      padding: 6px 0;
      margin-bottom: 20px;
    }
    p {
      font-size: 13px;
      line-height: 1.5;
    }
  }
}

@media (max-width: 1640px) {
  header,
  #p-top #main-visual,
  #p-top section,
  #p-top .concept-bg {
    width: auto;
    margin-left: 90px;
    margin-right: 90px;
  }
  #p-top #service,
  #p-top .concept-bg {
    &::before {
      width: calc(100vw - 90px);
    }
  }
}


@media (max-width: 1234px) {
  header,
  #p-top #main-visual,
  #p-top section,
  #p-top .concept-bg {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
  }
  #p-top #service,
  #p-top .concept-bg {
    &::before {
      width: calc(100vw - 40px);
    }
  }
  #p-top #concept {
    .bg-concept {
      right: -30px;
    }
  }
}


@media (max-width: 1134px) {
  header,
  #p-top #main-visual,
  #p-top section,
  #p-top .concept-bg {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 1055px) {
  #header-common,
  section {
    width: auto;
  }
}