@import "bootstrap-reboot.scss";


/* 変数 */
$colorBlack: #000;
$colorWhite: #fff;
$flex: flex;
$flexColumn: column;

// 1rem = 16px


// font-size


// layout
body {
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
  color: $colorBlack;
}

.content-block {
}

.flex-box {
  display: flex;
  &.flex-column {
    flex-direction: column;
  }
}


// parts
a {
  color: $colorBlack;
  text-decoration: none;
  transition: .3s;
  &:hover {
    text-decoration: none;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

small {
}

.link-box {
  border: 1px solid #000;
  display: block;
  width: 200px;
  text-align: center;
  padding: 13.5px 0;
  transition: .3s;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  &:hover {
    color: $colorWhite;
    // background-color: #000;
    &::before {
      transform: rotate(-8deg) translate(-50%, -50%) scaleX(1)
    }
  }
  &::before {
    content: '';
    width: 105%;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    z-index: -1;
    transition: all 0.6s cubic-bezier(0.24, 1, 0.32, 1);
    transform: rotate(-8deg) translate(-50%, -50%) scaleX(0);
    transform-origin: 0 0
  }
}

// display
.res-pc {
  display: block;
}
.res-sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .res-pc {
      display: none;
    }
  .res-sp {
      display: block;
    }
}

// fade animation / header
.effect-fade {
  opacity : 0;
  transform : translate(0, 5px);
  transition : all 2s;
}

.effect-fade.effect-scroll {
  opacity : 1;
  transform : translate(0, 0);
}

// fade animation / contents
.cont-fade {
  opacity: 0;
  transition: all .5s ease;
  &.show {
    opacity: 1;
    transform: none;
  }
}

.cont-fade {
  &.slide-up {
    transform: translate(0, 100px);
  }
}

#pagetop {
  position: absolute;
  right: 0;
  top: -66px;
  padding-left: 12px;
  font-family: proxima-nova-condensed, sans-serif !important;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $colorBlack;
  transform: rotate(90deg);
  .pagetop-arrow {
    width: 52px;
    height: 1px;
    background-color: $colorBlack;
    position: absolute;
    top: 50%;
    right: 100%;
    transition: .3s;
    &::after {
      content: '';
      background-color: $colorBlack;
      position: absolute;
      left: 0;
      top: -3px;
      width: 7px;
      height: 1px;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    .pagetop-arrow {
      width: 60px;
    }
  }
}


// margin
$marginL : 0 1vw;
$marginM : 0 90px;
$marginS : 0 40px;

/* header 
通常h320 スクロールh200
*/
header {
  max-width: 1440px;
  margin: 0 auto;
}
#header-top {
  height: 160px;
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  transition: 0.5s ease-out;
  &::before {
    content: "";
    background: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
  }
  .logo {
    h1 {
      margin: 0;
      img {
        width: 163px;
      }
    }
  }
  &.flex-box {
    justify-content: space-between;
    align-items: center;
  }
  &.scrolled {
    height: 80px;
    // transform: translateY(-50%);
    .header-inner {
      // transform: translateY(-25%);
    }
  }
  .menu {
    ul {
      margin: 0;
      li {
        &:not(:last-child) {
          margin-right: 37px;
        }
      }
    }
    a {
      font-family: proxima-nova-condensed, sans-serif !important;
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0.1em;
      color: transparent;
      background: linear-gradient(to right, #000 0%,#000 100%);
      -webkit-background-clip: text;
      &:hover {
        color: transparent;
        background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
        -webkit-background-clip: text;
      }
    }
  }
}

#header-top {
  &.scrolled {
    +#main-visual {
      // margin-top: 100px;
    }
  }
}

// common parts (scrolled)
#header-common {
  margin-top: 160px;
  h1 {
    font-size: 40px;
    position: relative;
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
    }
  }
}

.scrolled {
  +#header-common {
    margin-top: 160px;
  }
}

#main-visual {
  position: relative;
  margin-top: 160px;
  width: 100%;
  transition: .3s;
  .mv-area {
    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
  }
  // scroll
  .arrowWrap {
    width: 100px; // 偶数の幅を指定しないと微妙に滲むため
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    .arrowInner {
      .arrow {
        width: 1px;
        height: 70px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        &::before {
          content: '';
          width: 1px;
          height: 70px;
          // margin: 50px auto 0;
          background-color: #000;
          position: absolute;
          top: 0;
          left: 0;
          animation: scroll_effect 2s 2s cubic-bezier(.3,.4,.1,1) infinite;
        }
      }
      p {
        font-family: proxima-nova-condensed, sans-serif !important;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 0;
      }
    }
  }
}
@media (max-height: 890px) {
  #main-visual {
    // margin-top: 14vh;
  }
}


@keyframes scroll_effect {
  0% {
    height: 0
  }
  50% {
    height: 70px
  }
  75% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(100%)
  }
}


// ---- title head
.title-head {
  margin-bottom: 34px;
  img {
    margin-right: 22px;
    margin-bottom: 4px;
    width: 80px;
    height: 2px;
  }
  span {
    font-size: 16px;
    font-family: proxima-nova-condensed, sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  +h2 {
    margin-bottom: 40px;
  }
}

// ---- cont-box
.cont-box {
  margin-bottom: 50px; //仮
}


section {
  width: 1280px;
  // padding: 70px 160px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
  h2 {
    font-size: 40px;
    font-family: "abril-text", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
  }
}

// common section
.common {
  #concept {
    .sec-content {
      padding: 0;
    }
  }

  img {
    &.profile {
      width: 50%;
    }
  }
}

// concept
#concept {
  background: #fff;
  position: relative;
  margin-top: 62px;
  // margin-right: 0;
  // margin-left: 0;
  // overflow: hidden;
  padding-top: 90px;
  padding-bottom: 115px;
  // .sec-content {
  //   background-color: $colorWhite;
  //   padding: 90px 90px 125px;
  //   @media screen and (min-width: 1641px) {
  //     margin: $marginL;
  //     margin-right: 180px;
  //   }
  //   @media screen and (min-width: 1201px) and (max-width: 1440px){
  //     margin: $marginM;
  //     margin-right: 180px;
  //   }
  //   @media screen and (min-width: 769px) and (max-width: 1200px){
  //     margin: $marginS;
  //     margin-right: 180px;
  //   }
  // }
  .sec-content {
    justify-content: space-between;
    .sec-content-item {
      display: $flex;
      flex-direction: $flexColumn;
      justify-content: space-between;
      &:nth-child(1) {
        margin-right: 40px;
        .link-box {
          margin-bottom: 7px; // 右カラムの底辺と合わせるため
        }
      }
      &:nth-child(2) {
        width: 600px;
        position: relative;
      }
      p {
        line-height: 2.2;
        font-size: 14px;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .bg-concept {
    position: absolute;
    top: -17px;
    right: -80px;
    width: 51%;
  }
}

.concept-bg {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: -10;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -310px;
    left: 0;
    width: 100vw;
    height: 450px;
  }
  &::before {
    background-image: url('/img/bg-concept.png');
    z-index: -10;
    background-size: cover;
  }
  &::after {
    // z-index: -20;
    // background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
  }
}

// common .section
.common {
  .section {
    @media screen and (min-width: 1641px) {
      margin: $marginL;
      margin-right: 180px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px){
      margin: $marginM;
      margin-right: 180px;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px){
      margin: $marginS;
      margin-right: 180px;
    }
  }
  #concept, .section {
    &::before,
    &::after {
      content: none;
    }
  }
}


// service
#service {
  position: relative;
  // margin-right: 0;
  // margin-left: 0;
  margin-top: 215px;
  margin-bottom: 75px;
  padding-bottom: 60px;
  // padding: 0 90px 60px;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 89vw; // max-width:1640 でギリギリ見切れる値
    height: 450px;
  }
  &::before {
    z-index: -1;
    background-image: url('/img/bg-service.jpg');
    // background-color: rgba(255,255,255,0.8);
    // background-blend-mode: lighten;
    background-size: cover;
  }
  &::after {
    // z-index: -2;
    // background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
    // opacity: .1;
  }
  // .sec-content,
  // .cont-box {
  //   @media screen and (min-width: 1641px) {
  //     margin: $marginL;
  //   }
  //   @media screen and (min-width: 1201px) and (max-width: 1440px){
  //     margin: $marginM;
  //   }
  //   @media screen and (min-width: 769px) and (max-width: 1200px){
  //     margin: $marginS;
  //   }
  // }
  .sec-content-upper {
    justify-content: space-between;
    margin: 56px 0 52px;
    .sec-content-item {
      background-color: $colorWhite;
      // width: calc((100% * 1/4) - 30px);
      background-image: url('/img/BG_New.png');
      background-size: cover;
      color: $colorWhite;
      position: relative;
      min-height: 340px;
      padding: 170px 25px 0;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
        h3 {
          letter-spacing: -0.05em;
        }
      }
      img {
        // margin: 0 auto;
        // display: block;
        width: 80%;
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
      }
      h3 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 16px;
      }
      p {
        font-size: 13px;
        line-height: 1.5;
      }
      a {
        color: $colorWhite;
        font-size: 13px;
        font-family: 'Noto Serif JP', serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        position: absolute;
        right: 20px;
        bottom: 16px;
        display: block;
        // text-align: right;
        // margin-left: auto;
        margin-right: 27px;
        padding-right: 11px;
      // link arrow
        .link-arrow {
          width: 21px;
          height: 1px;
          background-color: $colorWhite;
          position: absolute;
          top: 50%;
          left: 100%;
          transition: .3s;
          &::after {
            content: '';
            background-color: $colorWhite;
            position: absolute;
            right: 0;
            top: -3px;
            width: 7px;
            height: 1px;
            transform: rotate(45deg);
          }
        }
        &:hover {
          .link-arrow {
            width: 35px;
          }
        }
      }
    }
  }
  .sec-content-lower {
    p {
      line-height: 2.2;
      letter-spacing: 0.1em;
      margin-bottom: 41px;
    }
    .link-box {
      margin: 0 auto;
    }
  }
}

// works
#works {
  // display: none;
  margin-bottom: 55px;
  // margin-right: 0;
  // margin-left: 0;
  // .cont-box {
  //   @media screen and (min-width: 1641px) {
  //     // margin: $marginL;
  //   }
  //   @media screen and (min-width: 1201px) and (max-width: 1440px){
  //     margin: $marginM;
  //   }
  //   @media screen and (min-width: 769px) and (max-width: 1200px){
  //     margin: $marginS;
  //   }
  // }
  p {
    letter-spacing: 0.1em;
  }
  .flex-box {
    justify-content: space-between;
    align-items: start;
    // padding: 0 64px;
  }
  .loop-box {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    // width: 100vw;
    margin: 72px 0 52px;
    ul {
      display: flex;
      flex-flow: row nowrap;
      // width: 100%;
      margin: 0;
      // padding: 0;
    }
    li {
      // display: inline-block;
      width: calc(100vw / 3.2);
      // width: 514px;
      // min-width: 150px;
      // margin: 0;
      // list-style: none;
      // text-align: center;
      &:first-child {
        margin-top: 25px;
      }
      &:nth-child(2) {
        margin-top: 0;
      }
      &:nth-child(3) {
        margin-top: 20px;
      }
      &:nth-child(4) {
        margin-top: 40px;
      }
      img {
        // display: block;
        width: 100%;
        // height: auto;
      }
    }
  }

  .loop-box ul:first-child {
    animation: loop 120s -60s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
  }
  .loop-box ul + ul {
    animation: loop2 120s linear infinite;
  }

  @keyframes loop {
    0% {
      transform: translateX(90%);
    }
    to {
      transform: translateX(-110%);
    }
  }
  @keyframes loop2 {
    0% {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(-210%);
    }
  }
}

// news
#news {
  position: relative;
  padding-bottom: 52px;
  margin-bottom: 150px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/img/bg-news.jpg');
    // background-color: rgba(255,255,255,0.8);
    // background-blend-mode: lighten;
    background-size: cover;
  }
  ul {
    li {
      font-size: 14px;
      padding: 10px 0 11px;
      // border-bottom: 1px dashed $colorBlack;
      position: relative;
      a {
        letter-spacing: 0.1em;
        &:hover {
          color: $colorBlack;
          text-decoration: underline;
        }
      }
      &::after {
        content: "";
        height: 1px;
        background-image: linear-gradient(to right, $colorBlack, $colorBlack 2px, transparent 2px, transparent 4px);
        background-size: 4px 1px;
        background-repeat: repeat-x;
        position: absolute;
        /* top: 0; */
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  .news-date {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2em;
    width: 165px;
    flex-shrink: 0;
  }
}

// contact
#contact {
  width: auto;
  margin: 0;
  padding: 90px 40px 85px;
  background-color: $colorBlack;
  background-image: url('/img/bg-contact.jpg');
  background-size: cover;
  color: $colorWhite;
  text-align: center;
  h2 {
    font-size: 35px;
    margin-bottom: 32px
  }
  p {
    line-height: 2.2;
    letter-spacing: 0.1em;
    margin-bottom: 48px;
  }
  .link-box {
    color: $colorWhite;
    border-color: $colorWhite;
    margin: 0 auto;
    &:hover {
      // background-color: $colorWhite;
      color: $colorBlack;
    }
    &::before { 
      background-color: $colorWhite;
    }
  }
}

.sec-inner {
  max-width: 960px;
  margin: 0 auto;
}

// footer
footer {
  margin: 0 auto;
  padding-top: 73px;
  .footer-logo {
    width: 143px;
  }
  h3 {
    font-family: proxima-nova-condensed, sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1;
    margin-bottom: 13px;
  }
  .sec-content {
    justify-content: space-between;
    margin-bottom: 62px;
  }
  .sec-content-item {
    width: 48.5%;
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cont-box {
        margin-bottom: 7px;
      }
    }
    &:nth-child(2) {
      justify-content: space-between;
    }
    .content-link {
      ul {
        margin-left: -5px;
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 7px;
        }
      }
      li {
        list-style: none; 
        color: #8f8f8f;
        font-size: 12px;
        margin-bottom: 7px;
        a {
          color: #8f8f8f;
          &:hover {
            text-decoration: underline;
          }
        }
        &::before {
          content: "・";
        }
      }
    }
    .link-box {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 150px;
      padding: 7.5px 0;
      &:nth-child(1) {
        margin-right: 15px;
      }
    }
  }
  address {
    font-size: 12px;
    margin-bottom: 18px;
    letter-spacing: 0.05em;
  }
}
small {
  display: block;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

@media (max-width: 1640px) {
  section,
  .concept-bg {
    width: auto;
    margin: $marginM;
    // padding-left: 15%;
    // padding-right: 15%;
  }
  #service {
    &::before {
      width: calc(100vw - 90px);
    }
  }
}

@media (max-width: 1440px) {
  header {
    margin: $marginM;
  }
  #header-top {
    padding: $marginM;
  }
}


@media (max-width: 1200px) {
  header {
    margin: $marginS;
  }
  #header-top {
    padding: $marginS;
    .menu {
      ul {
        li {
          &:not(:last-child) {
            margin-right: 35px;
          }
        }
      }
    }
  }
  #concept {
    .bg-concept {
      right: -30px;
    }
  }
  #service {
    .sec-content-upper {
      .sec-content-item {
        a {
        }
      }
    }
  }
  section,
  .concept-bg {
    margin: $marginS;
    padding-left: 40px;
    padding-right: 40px;
  }
  footer {
    // width: auto;
    margin: $marginS;
  }
}
