@import "bootstrap-reboot.scss";


/* 変数 */
$colorBlack: #000;
$colorWhite: #fff;
$flex: flex;
$flexColumn: column;

// 1rem = 16px


// font-size


// layout
body {
  font-family: proxima-nova-condensed, 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.content-block {
}

.flex-box {
  display: flex;
  &.flex-column {
    flex-direction: column;
  }
}

// parts
a {
  color: #000;
  text-decoration: none;
  transition: .3s;
  &:hover {
    text-decoration: none;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

small {
}

.link-box {
  border: 1px solid #000;
  display: block;
  width: 200px;
  text-align: center;
  padding: 12.5px 0;
  transition: .3s;
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  font-size: 14px;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

// display
.res-pc {
  display: block;
}
.res-sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .res-pc {
      display: none;
    }
  .res-sp {
      display: block;
    }
}

// fade animation / header
.effect-fade {
  opacity : 0;
  transform : translate(0, 5px);
  transition : all 2s;
}

.effect-fade.effect-scroll {
  opacity : 1;
  transform : translate(0, 0);
}

// fade animation / contents
.cont-fade {
  opacity: 0;
  transition: all .5s ease;
  &.show {
    opacity: 1;
    transform: none;
  }
}

.cont-fade {
  &.slide-up {
    transform: translate(0, 100px);
  }
}

// margin
$marginL : 0 1vw;
$marginM : 0 5.625rem;
$marginS : 0 2.5rem;
// "width:1641px以上　広がる（参考URLのとおり）
@media screen and (min-width: 1641px) {
  header {
    margin: $marginL;
    &.flex-box {
    justify-content: space-around;
    }
    #header-top {
      padding: $marginL;
    }
  }
}

// width:1201px〜1640px　マージン左右:90px
@media screen and (min-width: 1201px) and (max-width: 1640px) {
  header, section, footer {
    margin: $marginM;
    #header-top {
      padding: $marginM;
    }
  }
}

// width:769px〜1200px　マージン左右:40px"
@media screen and (min-width: 769px) and (max-width: 1200px) {
  header, section, footer {
    margin: $marginS;
    #header-top {
      padding: $marginS;
    }
  }
}

/* header 
通常h320 スクロールh200
*/
#header-top {
  height: 160px;
  width: auto;
  transition: .3s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  .logo {
    img {
      transition: .3s;
      transform-origin: left;
    }
  }
  &.flex-box {
    justify-content: space-between;
    align-items: center;
  }
  &.scrolled {
    height: 100px;
    .logo {
      img {
        transform: scale(.5) ;
      }
    }
  }

  .header-inner {
    &.menu {
      li {
        &:not(:last-child) {
          margin-right: 2.38vw;
        }
      }
      a {
        font-size: 15px;
        color: transparent;
        background: linear-gradient(to right, #000 0%,#000 100%);
        -webkit-background-clip: text;
        &:hover {
          color: transparent;
          background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
          -webkit-background-clip: text;
        }
      }
    }
  }
}

#header-top {
  &.scrolled {
    +#main-visual {
      margin-top: 100px;
    }
  }
}

// common parts (scrolled)
#header-common {
  margin-top: 160px;
  h1 {
    font-size: 40px;
    position: relative;
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
    }
  }
}

.scrolled {
  +#header-common {
    margin-top: 160px;
  }
}

#main-visual {
  position: relative;
  margin-top: 160px;
  width: 100%;
  transition: .3s;
  .mv-area {
    img {
      display: block;
      margin: auto;
      max-width: 100%;
    }
  }
  // scroll icon
  .scroll {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 140px;
    background-color: #000;
    margin: auto;
    &::after {
      content: 'SCROLL';
      display: block;
      margin: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

.arrowWrap {
  position: absolute;
  right: -2px;
  bottom: -70px;
  left: 0;
  z-index: 1;
}

.arrowInner p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}

.arrow {
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.arrow::before {
  content: '';
  width: 2px;
  height: 140px;
  margin: 50px auto 0;
  background-color: #000;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-animation: arrow 2.5s ease 0s infinite normal;
  animation: arrow 2.5s ease 0s infinite normal;
}
}

@keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

// ---- title head
.title-head {
  margin-bottom: 50px;
  img {
    margin-right: 25px;
    width: 80px;
  }
  span {
    font-size: 16px;
  }
  +h2 {
    margin-bottom: 40px;
  }
}

// ---- cont-box
.cont-box {
  margin-bottom: 50px; //仮
}

section {
  &.section {
    margin-bottom: 125px;
  }
  h2 {
    font-size: 40px;
    font-family: abril-text, serif;
    font-weight: 400;
    font-style: normal;
  }
}

// common section
.common {
  #concept {
    .sec-content {
      padding: 0;
    }
  }

  img {
    &.profile {
      width: 50%;
    }
  }
}

// concept
#concept {
  position: relative;
  margin-top: 60px;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
  padding-bottom: 140px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 90px;
    z-index: -1;
    background-image: url('../img/bg-noise.png');
    width: 100%;
    height: 400px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 90px;
    z-index: -2;
    background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
    width: 100%;
    height: 100%;
    height: 400px;
  }
  h3 {
    font-size: 18px;
  }
  .sec-content {
    background-color: $colorWhite;
    padding: 90px 90px 125px;
    @media screen and (min-width: 1641px) {
      margin: $marginL;
      margin-right: 180px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px){
      margin: $marginM;
      margin-right: 180px;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px){
      margin: $marginS;
      margin-right: 180px;
    }
  }
  .sec-content-item {
    display: $flex;
    flex-direction: $flexColumn;
    justify-content: space-between;
    &:nth-child(1) {
      margin-right: 10vw;
    }
    &:nth-child(2) {
      position: relative;
    }
    p {
      line-height: 2;
      font-size: 14px;
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .bg-concept {
    position: absolute;
    top: 0;
    right: 90px;
    width: 45%;
  }
}

// common .section
.common {
  .section {
    @media screen and (min-width: 1641px) {
      margin: $marginL;
      margin-right: 180px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px){
      margin: $marginM;
      margin-right: 180px;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px){
      margin: $marginS;
      margin-right: 180px;
    }
  }
  #concept, .section {
    &::before,
    &::after {
      content: none;
    }
  }
}


// service
#service {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding: 0 90px 100px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 90px;
    bottom: 0;
    width: 100%;
    height: 70%;
  }
  &::before {
    z-index: -1;
    background-image: url('../img/bg-service-noise.png');
  }
  &::after {
    z-index: -2;
    background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
    opacity: .1;
  }
  .sec-content, .cont-box {
    @media screen and (min-width: 1641px) {
      margin: $marginL;
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px){
      margin: $marginM;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px){
      margin: $marginS;
    }
  }
  .sec-content {
    &.box4 {
      justify-content: space-between;
      margin-bottom: 60px;
      .sec-content-item {
        background-color: $colorWhite;
        width: calc((100% * 1/4) - 30px);
      }
    }
  }
  .sec-content-item {
    background-image: url('../img/BG_New.png');
    color: $colorWhite;
    padding: 20px;
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
    h3 {
      text-align: center;
    }
    a {
      color: $colorWhite;
      font-family: 'Noto Serif JP', serif;
      font-weight: bold;
      position: relative;
      display: block;
      text-align: right;
      margin-left: auto;
      margin-right: 30px;
      padding-right: 15px;
    // link arrow
      .link-arrow {
        width: 20px;
        height: 1px;
        background-color: $colorWhite;
        position: absolute;
        top: 50%;
        left: 100%;
        transition: .3s;
        &::after {
          content: '';
          background-color: $colorWhite;
          position: absolute;
          right: 0;
          top: -4px;
          width: 10px;
          height: 1px;
          transform: rotate(45deg);
        }
      }
      &:hover {
        .link-arrow {
          width: 30px;
        }
      }
    }
  }
  .cont-box {
    background-image: none;
    p, .link-box {
      color: $colorBlack;
    }
    .link-box {
      &:hover {
        color: $colorWhite;
      }
    }
    p {
      line-height: 2; //仮
      margin-bottom: 100px;
    }
    .link-box {
      margin: 0 auto;
    }
  }
}

// works
#works {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  .cont-box {
    @media screen and (min-width: 1641px) {
      margin: $marginL;
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px){
      margin: $marginM;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px){
      margin: $marginS;
    }
    .flex-box {
      justify-content: space-between;
      padding: 0 64px;
    }
  }
  .loop-box {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100vw;
    overflow: hidden;
    margin: 100px 0; //仮
    ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      width: calc(100vw / 2);
      min-width: 150px;
      margin: 0;
      list-style: none;
      text-align: center;
      &:first-child {
        margin-top: 50px;
      }
      &:nth-child(2) {
        // margin-top: 40px;
      }
      &:nth-child(3) {
        margin-top: 40px;
      }
      &:nth-child(4) {
        // margin-top: 20px;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .loop-box ul:first-child {
    -webkit-animation: loop 50s -25s linear infinite;
    animation: loop 50s -25s linear infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
  }

  .loop-box ul + ul {
    -webkit-animation: loop2 50s  linear infinite;
    animation: loop2 50s linear infinite;
  }

  @-webkit-keyframes loop {
    0% {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @keyframes loop {
    0% {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes loop2 {
    0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

  @keyframes loop2 {
    0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }
}

// news
#news {
  position: relative;
  padding: 75px 90px 65px;
  margin-bottom: 150px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &::before {
    z-index: -1;
    background-image: url('../img/bg-service-noise.png');
  }
  &::after {
    z-index: -2;
    background: linear-gradient(to right, #fb5fb7 0%,#00a1d7 100%);
    opacity: .1; //仮
  }
  .title-head {
    margin-bottom: 50px; //仮
  }
  h2 {
    margin-bottom: 50px; //仮
  }
  ul {
    li {
      padding: 15px 0; //仮
      border-bottom: 2px dashed $colorBlack;
    }
  }
  .news-date {
    font-weight: bold;
    margin-right: 100px;
  }
}

// contact
#contact {
  margin: 0;
  padding: 180px 0;
  background-color: #000;
  background-image: url('../img/bg-noise.png');
  background-size: cover;
  color: $colorWhite;
  h2, p {
    text-align: center;
  }
  p {
    margin-bottom: 50px;
  }
  .link-box {
    color: $colorWhite;
    border-color: $colorWhite;
    margin: 0 auto;
    &:hover {
      background-color: $colorWhite;
      color: $colorBlack;
    }
  }
}

// footer
#footer {
  padding-top: 75px;
  h2 {
  }
  .footer-logo {
    width: 143px;
    height: 39px;
  }
  h3 {
    font-size: 14px;
  }
  .sec-content {
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .sec-content-item {
    width: 50%;
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cont-box {
        margin-bottom: 0;
      }
    }
    &:nth-child(2) {
    }
    .content-link {
      width: calc(100% * 1/3);
      ul {
        padding-left: 16px;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      li {
        color: #8f8f8f;
        list-style-type: disc;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    .link-box {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 150px;
      padding: 7.5px 0;
      &:nth-child(1) {
        margin-right: 15px;
      }
    }
  }
  address {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
small {
  display: block;
  text-align: center;
  font-size: 10px;
  margin-bottom: 30px;
}